/*
  ========================================
  Custom styles
  ========================================
*/

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height:  auto;
  display: flex;
  flex-direction: column;
  background: rgb(204, 216, 228);
}
/*
  ========================================
  Primary header
  ========================================
*/

.container header {
  grid-column: 1 / 4;
  justify-self: center;
  text-align: center;
  background: white;
}
/*
  ========================================
  Main Section
  ========================================
*/
.boxes {
  display: flex;
  justify-content: space-between;
   border: 5px solid  #e4d5cc;
}

.boxes h4 {
  text-align: center;
}

.box-left {
  margin-left: 100px;
}

.box-right {
  margin-right: 100px;
}

.score-box{
  display: flex;
  align-items: center;
}

#rocky-score {
  padding-right: 100px;
}

#apollo-score {
  padding-left: 100px;
}

#VS{
  font-size: 24px;
  font-weight: 600;
}

.images {
  height: 200px; 
  width: 150px;
}

.options-header {
  background: white;
  text-align: center;
  border: 5px solid  #e4d5cc;
}
.options-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.choicebox {
  display: flex;
  justify-content: space-evenly;

}

.choicebox h4 {
    text-align: center;
}


.image-selections {
  width: 75px;
  height: 75px;
  padding: 10px;
}

/*
  ========================================
  Typography/Animations
  ========================================
*/

@keyframes deneme{
   from{color:black;}
   to{color:rgb(145, 135, 135);
    font-weight: bolder;
    font-size: 6em;}
}

.animated{
    animation-name: deneme;
    animation-duration: 0.7s;
}


/*
========================================
  Buttons
========================================
*/

:hover.button {
    border:dashed red 5px;
    transform: scale(1.1,1.1);
  }


:focus.button{
      transform: scale(0.7,0.7);
      transition: all .6s ease;
  }

