/*
  ========================================
  Custom styles
  ========================================
*/

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  width: 100%;
  height:  auto;
  display: flex;
  flex-direction: column;
  background: rgb(204, 216, 228);
}
/*
  ========================================
  Primary header
  ========================================
*/

#container header {
  grid-column: 1 / 4;
  justify-self: center;
  text-align: center;
  background: white;
}
/*
  ========================================
  Main Section
  ========================================
*/

body h3 {
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid  #e4d5cc;
  border-left: 5px solid  #e4d5cc;
  border-right: 5px solid  #e4d5cc;
}

.boxes h4 {
  text-align: center;
}

.box-left {
  margin-left: 100px;
}

.box-right {
  margin-right: 100px;
}

.score-box{
  display: flex;
  align-items: center;
}

#rocky-score {
  padding-right: 100px;
}

#apollo-score {
  padding-left: 100px;
}

#VS{
  font-size: 24px;
  font-weight: 600;
}

.images {
  height: 200px; 
  width: 150px;
}

#roundNumber {
 text-align: center;
 height: 10px;;
}

.options-header {
  background: white;
  text-align: center;
  border: 5px solid  #e4d5cc;
}
.options-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.playerChoices {
  display: flex;
  justify-content: space-evenly;

}

.playerChoices h4 {
    text-align: center;
}


.image-selections {
  width: 75px;
  height: 75px;
  padding: 10px;
}


/*
  ========================================
  Typography/Animations
  ========================================
*/

header {
  font-size: 12px;
}

.score-box h5 {
  text-decoration: underline;
}
@keyframes deneme{
   from{color:black;}
   to{color:rgb(145, 135, 135);
    font-weight: bolder;
    font-size: 6em;}
}

.score-animation{
    animation-name: deneme;
    animation-duration: 0.7s;
}

.rockywins {
  background: url("/Users/moabdo/Desktop/Web Dev/Rocky_Creed/assets/rockywins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1.5s;
}

.apollowins {
  background-image: url("/Users/moabdo/Desktop/Web Dev/Rocky_Creed/assets/apollowins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1.5s;
}

.nowinner {
  background-image: url("/Users/moabdo/Desktop/Web Dev/Rocky_Creed/assets/nowinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1.5s;
}

#matchResult {
  color: white;
}



/*
========================================
  Buttons
========================================
*/
#reset {
 display: flex;
 align-self: center;
 justify-content: center;
 width: 200px;
 background: #d2cce4;
 padding: 10px;
 margin: 10px;
}

.reset {
  margin-left: auto;
  margin-right: auto;
}

:hover.button {
  border:dashed red 5px;
  transform: scale(1.1,1.1);
}


:focus.button{
  transform: scale(0.7,0.7);
  transition: all .6s ease;
}

.hidden {
  display: none;
}



