/*
  ========================================
  Custom styles
  ========================================
*/

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height:  auto;
  display: flex;
  flex-direction: column;
  background: rgb(204, 216, 228);
}
/*
  ========================================
  Primary header
  ========================================
*/

.container header {
  grid-column: 1 / 4;
  justify-self: center;
  text-align: center;
  background: white;
}
/*
  ========================================
  Main Section
  ========================================
*/
.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes h4 {
  text-align: center;
}

.box-left {
  margin-left: 100px;
}

.box-right {
  margin-right: 100px;
}

.score-box{
  display: flex;
  align-items: center;
}

.images {
  height: 200px; 
  width: 150px;
}

.options-header {
  background: white;
  text-align: center;
  border: 2px solid black;
}
.options-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.choicebox {
  display: flex;
  justify-content: space-evenly;

}

.choicebox h4 {
    text-align: center;
}


.image-selections {
  width: 100px;
  height: 100px;
}

/*
  ========================================
  Typography/Animations
  ========================================
*/

h3 {
  font-size: 16px;
  font-weight: 300;
}

 #rect {
    animation-name: rainbow;
    animation-duration: 4s;
  }

  img:hover {
    animation-name: width;
    animation-duration: 500ms;
  }

  @keyframes width {
    100% {
      height: 100px;
    }
  }


/*
========================================
  Buttons
========================================
*/

